body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.flexable{
  display: flex;
}
#header-section{
  background-image: url(images/donation6.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.header{
  padding-top: 95px;
  width: 800px;
  margin: auto;
}
.header h1{
 color: white;
 font-size: 58px;
 margin-bottom: 0px; 
 line-height: 75px;
}
.header p{
 color: rgba(255, 255, 255, 0.867);
 padding: 0 80px;
 font-size: 18px;
}
.donate-button{
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  padding: 14px 20px;
  background-color: #FF5959;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  margin-top: 15px;
}

/* donate section-------------- */
.donate-title-section{
  text-align: center;
}
h1.donate.title {
  font-size: 40px;
  padding-top: 60px;
  margin-bottom: 15px;
}
.donate-title-section p{
  padding: 0 21rem;
  color: #000000a1;
  display: flex;
  margin-bottom: 40px;
}

.donate-amount-row{
  width: 700px;
  margin: auto;

}
.amount-column{
  width: 200px;
  text-align: center;
  padding: 21px;
}
.amount-column h2{
  color: rgb(0 0 0 / 59%);
}
.donate-amount-row .active{
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.donate-amount-row .active h2{
  color: #FF5959;
}
.donate-bottom{
  text-align: center;
}
.donate-bottom p{
  color: rgb(0 0 0 / 31%);
  padding-top: 40px;
}
hr {
width: 650px;
  height: 0.5px;
  background-color: #0000001f;
  border: none;
  margin-bottom: 15px;
}

/*-------- Donate Plan section----------- */
.donate-plan-row.flexable {
  width: 1100px;
  margin: auto;
}
.single-donate-plan {
  margin: 12px;
  padding: 55px 22px 32px 25px;
  border-radius: 10px;
}
.food-wrap{
  background-color: #EDF5F6;
}
.family-wrap{
  background-color: #FFEEEE;
}
.education-wrap{
  background-color: #FFF4D6;
}
.single-donate-plan img {
  width: 55px;
  height: 45px;
}
.single-donate-plan h2 {
  font-size: 23px;
  color: #000000c9;
}
.single-donate-plan p {
  font-size: 15px;
  color: #00000069;
}
